@import "../node_modules/@syncfusion/react-base/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-inputs/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-buttons/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-dropdowns/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-calendars/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-navigations/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-popups/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-pager/styles/material3.css"; 
@import "../node_modules/@syncfusion/react-grid/styles/material3.css";

/* @import "https://kendo.cdn.telerik.com/themes/12.0.0/material/material-main.css";
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"; */